body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
  }
  
  .container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"] {
    width: calc(100% - 20px); /* Ajustamos el ancho para considerar el margen */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Agregamos margen derecho */
  }
  
  .tags-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .tag:hover {
    background-color: #0056b3;
  }
  
  button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #0056b3;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .tag.selected {
    background-color: #0056b3;
  }
  /*Para la pagina de configuracion salga el menu lateral*/
  .menu-lateral {
    background-color: #343a40; /* Un color más moderno y neutral */
    color: white;
    padding: 20px;
    min-height: 100vh; /* Asegura que el menú cubra toda la altura */
    width: 100px;
}

.menu-lateral .nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.menu-lateral .nav-link:hover {
    background-color: #495057;
}

.icono-nav {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}